@model MHN.Models.Category
@{

    Layout = "~/Areas/Admin/Views/Shared/Layout_Admin.cshtml";
}

@using (Html.BeginForm("CreateCategory", "Category", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title">Category</h4>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </div>
        <div class="card-body">
            <form action="" method="post" class="form">
                <div class="mdc-layout-grid">
                    <div class="mdc-layout-grid__inner">
                        <div class="mdc-layout-grid__cell--span-12">
                            <div class="mdc-card">
                                <div class="template-demo">
                                    <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
                                        <div class="mdc-text-field mdc-text-field--outlined">
                                            <input name="Name_Cate" id="Name_Cate" value="" class="mdc-text-field__input">                              
                                            <div class="mdc-notched-outline mdc-notched-outline--upgraded">
                                                <div class="mdc-notched-outline__leading"></div>
                                                <div class="mdc-notched-outline__notch" style="">
                                                    <label for="text-field-hero-input" class="mdc-floating-label" style="">Name</label>
                                                </div>
                                                <div class="mdc-notched-outline__trailing"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mdc-text-field mdc-text-field--outlined">
                                        <button type="submit" class="mdc-button mdc-button--unelevated filled-button--info mdc-ripple-upgraded" style="--mdc-ripple-fg-size:38px; --mdc-ripple-fg-scale:2.19553; --mdc-ripple-fg-translate-start:14.7708px, -7.33334px; --mdc-ripple-fg-translate-end:13px, -1px;">
                                            Save
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
}


