@model List<MHN.Models.Product>
@foreach (var item in Model)
{
    <div class="item">
        <div class="block-4 text-center">
            <figure class="block-4-image">
                <img src="~/Content/Images/@Url.Content(item.Img)" alt="Image placeholder" class="img-fluid">
            </figure>
            <div class="block-4-text p-4">
                <h3><a href="#">@item.Name_Product</a></h3>
                <p class="text-primary font-weight-bold">$@item.Price</p>
            </div>
        </div>
    </div>
}

